@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Site</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6jiu9TlR11o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="myAnimation">
    <a href="#" onMouseOver="document.myImage.src = image2.src;"
       onMouseOut="document.myImage.src = image1.src;">
        <img name="myImage" src="/images/fullmoon.jpg" />
    </a>
</div>